/* codigo css - responsividade*/
@media( max-width:1258px) {
   html{
    font-size: 55%;
   }
   .skrills-container{
    padding-bottom:7rem ;
    grid-template-columns: repeat(1,1fr);
    margin: 0 5rem;
   }
   .projeto-box{
    grid-template-columns: repeat(2,1fr);
   }
   .projeto-box img{
    min-width: 15vw;
   }
}
@media( max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3%  2rem;
    }
    .contact{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media( max-width:895px){
    #icon-menu{
     display: block;
    }
    .nav-bar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-bottom: 2px solid var(--main-color);
        border-left: 2px solid var(--main-color);
        display: none;
        
    
    }
    .nav-bar .active{
        display: block;
    }
    .nav-bar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem ;
        gap: 3rem;
    }
    .home-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top:3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 15vw;
        margin: 0 3rem;
    }
    .about{
        flex-direction: column-reverse;
        padding: 10rem 9% 10rem;
    }
    .about .heading{
         margin: 3rem 0;
    }
    .about img{
        width: 15vw;
    }
    .skrills h2{
        margin-bottom: 3rem;
    }
    .skrills-container{
        grid-template-columns: repeat(1,1fr);
    }
    .projeto-box{
        grid-column: repeat(1,1fr);
    }
    .projeto-box img{
        min-width:25vw;
    }
}